---
---
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <title>Visit Arcadia Bay</title>
  <link rel="stylesheet" href="/src/styles/global.css" />
</head>

  <body>
    <h1>Welcome to Arcadia Bay</h1>
    <p>A coastal town you’ll never forget.</p>
  </body>
</html>
