<link rel="stylesheet" href="/src/styles/global.css" />
<footer>
    <p>
        &copy; <span id="copyright"></span> ArcadiaBay.org All rights reserved.
    </p>

    <p>
        <small>
            Arcadiabay.org funded by <strong>The Prescott Foundation</strong>.
        </small>
    </p><br>
    <p>Join Our Minecraft Server today!:<br> mc.arcadiabay.org<br><br>
        <small>
            This is a fan-made project inspired by <em>Life is Strange</em>.<br>
            All referenced characters, music, locations, and names belong to <br>
            <a href="https://www.dont-nod.com" target="_blank" rel="noopener noreferrer">
                Dontnod Entertainment<a> &
            <a href="https://www.square-enix-games.com" target="_blank" rel="noopener noreferrer">
                Square Enix.<a> &
            <a href="https://deckninegames.com/" target="_blank" rel="noopener noreferrer">
                DeckNine Games.<a>
            </a>
        </small>
    </p><br>

    <p>
        <small>
            Created by 
            <a href="mailto:melbyedk@melbye.dev" target="_blank" rel="noopener noreferrer">MelbyeDK</a> <br><!--<a href="https://github.com/MelbyeDK/ArcadiaBay-website">v.0.0.15.</a><br> -->
        </small>
    </p>
</footer>